/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

body, html {
    overflow-x: hidden;
  }
  
  .app-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 30px;
    padding: 16px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* This line ensures a smoother transition */
    outline: solid;
  }
  
  
  .designer-link {
    display:inline-block;
    padding-top:40px;
  }

  .card-header {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    background: rgba(141, 141, 141, 0.5); /* Black background with transparency */
    color: #ffffff; /* White text */
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 1; /* Higher z-index */
    margin-left: 1px;
  }
  
  .title {
    color: #fff;
    margin-top: -20px;
  }
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #1a1a1a;
    outline: inset thick;
    
}

.text {
    transition: color 0.3s ease-in-out; /* This line ensures a smoother transition */
    color: rgb(14, 13, 13) !important; /* Initial color */
    
}

.card:hover .text {
    color: white !important; /* Replace 'newColor' with your desired color */
}
